{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1 style="color: white;" class="text-center" ><i>{% trans "About" %}</i></h1>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 text-center">
            <i class="fas fa-envelope fa-5x"></i> 
            <h3 style="color: beige">drscratchjr@gmail.com</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 text-center">
            <i class="fab fa-github fa-5x"></i> 
            <a href="https://github.com/sperezmaz/Dr.ScratchJr"><h3 style="color: beige">GitHub</h3></a>
        </div>
    </div>
{% endblock %}