{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="white-box">
				<div id="content">
					<h1>{{zip_name}}</h1>
					{% if message %}
						<div class='alert alert-danger'>
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ message }}
						</div>
					{% endif %}
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="border-top-0">#</th>
									<th class="border-top-0">{% trans "Student" %}</th>
									<th class="border-top-0">{% trans "Project" %}</th>
									<th class="border-top-0">{% trans "File name" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for stud_proj_dict in inicial_form %}
									<tr>
										<td>{{forloop.counter}}</td>
									{% for student, project in stud_proj_dict.items %}
										<td>{{student}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
										<td><a href="/analysis2/{{student}}/{{project.0}}/{{project.1}}/{{rand_folder}}">{{project.0}}</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
										<td>{{project.1}}</td>
									{% endfor %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if not user.is_authenticated %}
							<a href="/" class="btn btn-secondary">{% trans "Finalize" %}</a>
							&nbsp;
						{% endif %}
						<a href="/create_csv_zip/{{zip_name}}" download class="btn btn-warning">{% trans "Export" %}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}