{% extends "base.html" %}
{% load i18n %}

{% block content %}
  {% if variability_dict|length != 0 %}
	<h6 class="card-subtitle">
	  {% if message != "" %}
		<div class='alert alert-info'>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		  {{ message }}
		</div>
	  {% endif %}
	</h6>
	<h2> <b style="color: white">{% trans "Analysis" %}: </b> {{file_up}}</h2>
	<div class="row">
	  <div class="col-lg-4 col-xlg-3 col-md-12">
		<div class="card">
		  <div class="card-body">
			<section>
			  <div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th class="border-top-0"><a href="/variability/">{% trans "# Variability (Use of blocks)" %}</a></th>
							<th class="border-top-0">{% trans "Level" %}</th>
						</tr>
					</thead>
					<tbody>
						{% for types, blocks in variability_dict.items %}
							{% for types_, blocks_ in blocksDict.items %}
								{% if types == types_ %}
									{% if types == 'Total' %}
										<tr>
										<td><b>{{types}}</b></td>
										<td>
											<div class="progress">
												<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio blocks blocks_ 100 %}%"></div>
											</div>
											<b>{{blocks}}/{{blocks_}}</b>
										</td>
										</tr>
									{% else %}
										<tr>
											<td>{{types}}</td>
											<td>
												<div class="progress">
													<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio blocks|length blocks_|length 100 %}%"></div>
												</div>
												<a href="/results/{{file_up}}/{{mtime}}/variability/{{types}}/">{{blocks|length}}/{{blocks_|length}}</a>
											</td>
										</tr>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			  </div>
			</section>
		  </div>
		</div>
	  </div>
	  <div class="col-lg-4 col-xlg-3 col-md-12">
		<div class="card">
			<div class="card-body">
				<section>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="border-top-0"><a href="/bad_habits/">{% trans "# Bad habits" %}</a></th>
									<th class="border-top-0">{% trans "Quantity" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for types, blocks in badhabits_dict.items %}
								<tr>
									<td>{{types}}</td>
									{% if blocks.items %}
										<td>{{blocks}}</td>
									{% else %}  
										{% ifequal blocks|length 0 %}
											<td>{{blocks|length}}</td>
										{% else %}
											<td><a href="/results/{{file_up}}/{{mtime}}/badhabits/{{types}}/">{{blocks|length}}</a></td>
										{% endifequal %}
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<section>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="border-top-0">{% trans "# Creativity" %}</th>
									<th class="border-top-0">{% trans "Quantity" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for types, blocks in creativ_dict.items %}
									<tr>
										<td>{{types}}</td>
										{% ifequal blocks|length 0 %}
											<td>{{blocks|length}}</td>
										{% else %}
											<td><a href="/results/{{file_up}}/{{mtime}}/creativity/{{types}}/">{{blocks|length}}</a></td>
										{% endifequal %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>
	  </div>
	  <div class="col-lg-4 col-xlg-3 col-md-12">
		<div class="card">
		  <div class="card-body">
			<section>
			  <div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th class="border-top-0">{% trans "# Other data" %}</th>
						</tr>
					</thead>
					<tbody>
						{% for types, blocks in otherdat_dict.items %}
						  <tr>
							<td>{{types}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							{% if blocks.items %}
							  {% ifequal blocks|length 0 %}
								<td>{{blocks|length}}</td>
							  {% else %}
							  	<td><b>{{blocks}}</b></td>
							  {% endifequal %}
							{% else %}  
							  {% ifequal blocks|length 0 %}
								<td>{{blocks|length}}</td>
							  {% else %}
								<td>
									<div class="tooltip_popup">
										<a href="/results/{{file_up}}/{{mtime}}/otherdata/{{types}}/">{{blocks|length}}</a>
										<span class="tooltiptext">{{blocks}}</span>
									</div>
								</td>
							  {% endifequal %}
							{% endif %}
						  </tr>
						{% endfor %}
					</tbody>
				</table>
			  </div>
			</section>
		  </div>
		</div>
	  </div>
	</div>
  {% else %}
	{% if message %}
		<div class='alert alert-info'>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
	{% endif %}
	<div class="row">
	  <div class="col-12">
		<div class="white-box">
		  <h1>{% trans "Upload proyect" %}</h1>
		  {% blocktrans trimmed %}
			<p>Select an existing student or write a new student:</p>
		  {% endblocktrans %}
		  <form enctype="multipart/form-data" action="" method="POST" id="upload-files-form"> 
			  {% csrf_token %}
			  {% if user.is_authenticated %}
				<p> {% trans "Student: " %}<input id="student_input" type="text" list="items" name="name_student" autocomplete="off" required>
				<datalist id="items" name="name_student">
				  {% for student in students %}
					<option>{{student}}</option>
				  {% endfor %}
				</datalist>
				</p>
			  {% endif %}
			  <p> {% trans "Upload proyect: " %}<input id="file1_input" type="file" name="file" required></p>
			  <input type="submit" class="btn btn-primary" value="{% trans 'Analyze' %}" id="btn_1" onclick="show_load('btn_1', 'btn_load', 'file1_input', 'student_input')">
			  <button id="btn_load" type="button" class="spinner-border" style="display: none;"></button>
		  </form>
		</div>
	  </div>
    </div>

  {% endif %}
  
{% endblock %}