{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <div id="content">
          <h1>{% trans 'Password change' %}</h1>
          <br>
          <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
          <form method="post" action=".">
            {% csrf_token %} 
            {{ form.as_p }}
          
            <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
